backend:
  repo: HyperKids/brown-orchestra-blog
  name: github
  branch: master
publish_mode: editorial_workflow
media_folder: "images/uploads"
public_folder: "images/uploads"
collections:
  - name: "news"
    label: "News"
    folder: "posts"
    create: true
    slug: "{{date}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Subtitle", name: "subtitle", widget: "string"}
      - {label: "Author", name: "author", widget: "relation", collection: "authors", value_field: "uid", search_fields: ["name", "uid"], hint: "If you can't find your Author UID in here, go back and create one in the \"Authors\" tab."}
      - {label: "Topic", name: "topic", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime", time_format: false, format: "YYYY-MM-DD", picker_utc: true}
      - label: "Image"
        name: "image"
        widget: "object"
        fields:
        - {label: "Cover Image", name: "url", widget: "image", required: false}
        - {label: "Image Caption", name: "caption", widget: "string", required: false}
        - {label: "Image Attribution", name: "attr", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "authors"
    label: "Authors"
    folder: "authors"
    description: 'List of post authors.'
    create: true
    slug: "{{uid}}"
    fields:
      - {label: "Full Name", name: "name", widget: "string"}
      - {label: "Unique ID", name: "uid", widget: "string", hint: "Format this field as firstlast1 (eg. for Isaac Kim, format as isaackim1). If firstlast1 already exists as another person shares your name, just increment the last number by one (eg. firstlast2)."}
      - {label: "Email", name: "email", widget: "string"}
      - {label: "Brown Directory UUID", name: "browndirectory", widget: "string", hint: 'To get your Brown Directory UID, go to https://directory.brown.edu, search for yourself, click the permalink in your entry, and retrieve the string in the URL. It should look like 2a9cde89-1107-49ea-b0d1-26a35657a1f9.'}
      - {label: "Avatar", name: "avatar", widget: "image", required: false}
      - label: "Bios"
        name: "bio"
        widget: "object"
        fields:
        - {label: "Biography (Short)", name: "short", widget: "string", required: false, hint: "Make this field around two to three sentences long."}
        - {label: "Biography (Long)", name: "long", widget: "string", required: false, hint: "Make this field around three to five sentences long."}
  - name: "past-seasons"
    label: "Past Seasons"
    folder: "past-seasons"
    description: "Program database of the prevous seasons of the Brown University Orchestra"
    create: true
    slug: "{{fields.year}}"
    fields:
      - label: "Season Start Year"
        name: "year"
        widget: "string"
        hint: "For example, the 2020-2021 year should be just 2020."
        pattern: ['\d\d\d\d', "Must be a 4-digit year"]
      - label: "Concerts"
        name: "concerts"
        widget: "list"
        fields:
          - label: "Concert Title"
            name: "title"
            widget: "string"
          - label: "Subtitle"
            name: "subtitle"
            widget: "list"
            required: false
            hint: "Most commonly, the conductor name goes here."
            summary: "{{fields.line}}"
            field: {label: "Subtitle Line", name: "line", widget: "string"}
          - label: "Concert Locations"
            name: "locations"
            widget: "list"
            summary: "{{fields.location}}"
            field: {label: "Location", name: "location", widget: "string"}
          - label: "Concert Dates"
            name: "dates"
            widget: "list"
            summary: "{{fields.date}}"
            field: {label: "Date", name: "date", widget: "datetime", format: "YYYY-MM-DD hh:mm A"}
          - label: "Pieces"
            name: "pieces"
            widget: "list"
            fields:
              - label: "Piece Title"
                name: "title"
                widget: "string"
              - label: "Composer"
                name: "composer"
                widget: "string"
              - label: "Extra Information"
                name: "extra"
                widget: "list"
                required: false
                summary: "{{fields.line}}"
                field: {label: "Extra Info", name: "line", widget: "string"}
  - name: "slideshow"
    label: "Home Page Slideshow"
    folder: "/website-content/slideshow"
    description: "Slideshow on the homepage"
    create: false
    fields:
      - label: "Slides"
        name: "slides"
        widget: "list"
        fields:
          - label: "Slide Title"
            name: "title"
            widget: "string"
          - label: "Slide Subtitle"
            name: "subtitle"
            widget: "string"
          - label: "Slide Image"
            name: "imagesrc"
            widget: "image"
          - label: "Link"
            name: "link"
            widget: "string"
            hint: "Will add a hyperlink to the title to this link."
            required: false
          - label: "Image Description"
            name: "alt"
            widget: "string"
            hint: "This is used for accessibility - screen readers will read it out loud. Keep it short!"
          - label: "Logo"
            name: "logo"
            widget: "boolean"
            default: true
            hint: "This toggle controlls whether the BUO logo should be shown on the bottom right corner. Leave it on if you're not sure what to do."