name: Deploy to Production CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Yarn Deploy
    runs-on: ubuntu-latest
    steps:
      - run: |
        curl -XPOST -u "${{ secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}}" -H "Accept: application/vnd.github.everest-preview+json" -H "Content-Type: application/json" https://api.github.com/repos/YOURNAME/APPLICATION_NAME/dispatches --data '{"event_type": "build_application"}'

